.page {
  color: #ffffff;
  background-color: #000000;
  max-width: 1440px;
  padding: 0 200px;
  font-family: "Inter Regular";
}

@media screen and (max-width: 1280px) {
  .page {
    padding: 0 50px;
  }
}

@media (max-width: 767px) and (min-width: 360px) {
  .page {
    padding: 0;
  }
}

@media (max-width: 359px) and (min-width: 320px) {
  .page {
    padding: 0;
  }
}
