.popup {
  background-color: #00000050;
  position: absolute;
  inset: 0;
  display: none;
}

.popup__opened {
  display: flex;
  justify-content: center;
}

.popup__image-container {
  place-self: center;
  position: relative;
}

.popup__image {
  width: 75vw;
  height: 75vh;
}

.popup__image-close-button {
  background-color: transparent;
  width: 40px;
  display: flex;
  justify-content: center;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.popup__image-close-button:hover .popup__container-close-button-icon {
  filter: brightness(0) invert(1);
  opacity: 0.5;
}

.popup__image-description {
  color: #ffffff;
  font-size: 12px;
  line-height: 15px;
}

.popup__container {
  width: 430px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 36px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px #00000026;
  position: relative;
}

.popup__container-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 54px;
}

.popup__container-fieldset {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0;
  margin: 0;
  border: none;
}

.popup__container-input {
  border: none;
  border-bottom: 1px solid #00000020;
  padding-bottom: 13px;
}

.popup__container-input_type-error {
  border-bottom: 1px solid #ff0000;
}

.popup__container-button {
  background-color: #000000;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  margin-top: 48px;
  cursor: pointer;
  border: none;
  padding: 18px 0;
}

.popup__container-button:hover {
  background-color: #00000080;
  border: none;
}

.popup__container-button_inactive {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #00000020;
}

.popup__container-error_active {
  color: #ff0000;
}

.popup__container-close-button {
  background-color: transparent;
  width: 40px;
  display: flex;
  justify-content: center;
  border: none;
  position: absolute;
  top: -35px;
  right: -35px;
  cursor: pointer;
}

.popup__container-close-button:hover .popup__container-close-button-icon {
  filter: brightness(0) invert(1);
  opacity: 0.5;
}

@media (max-width: 767px) and (min-width: 360px) {
  .popup__image {
    width: 80vw;
    height: 50vh;
  }

  .popup__image-close-button {
    top: -40px;
    right: -35px;
  }

  .popup__container {
    width: 250px;
  }

  .popup__container-title {
    margin-bottom: 76px;
  }

  .popup__container-close-button {
    top: -50px;
    right: 0;
  }
}

@media (max-width: 359px) and (min-width: 320px) {
  .popup__image {
    width: 80vw;
    height: 50vh;
  }

  .popup__image-close-button {
    top: -40px;
    right: -30px;
  }

  .popup__container {
    width: 250px;
  }

  .popup__container-title {
    margin-bottom: 76px;
  }

  .popup__container-close-button {
    top: -50px;
    right: 0;
  }
}
